/**
 * Mixins
*/

@mixin before_after {    
    &::before,
    &::after {
        @content;
    }    
}

@mixin clearfix {    
    &::before, &::after {
        content: ' ';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }    
}

@mixin media($x) {
    @media screen and (min-width: $x + 'px'){
        @content;
    }
}

@mixin media_max($x) {
    @media screen and (max-width: $x + 'px'){
        @content;
    }
}

@mixin scrollbar($el){    
    body {
        @if $el == 'main' or $el == '' {
            &::-webkit-scrollbar {
                @content
            }
        }
        @if $el == 'track' {
            &::-webkit-scrollbar-track {
                @content
            }
        } 
        @if $el == 'thumb' {
            &::-webkit-scrollbar-thumb {
                @content
            }
        }
    }
}

/**
 * Browser compabibility
 */

@mixin animation_duration($s) {    
    -webkit-animation-duration: $s;
    animation-duration: $s;
}

@mixin animation_fill_mode($s) {
    -webkit-animation-fill-mode: $s;
    animation-fill-mode: $s;
}

@mixin animation_iteration_count($s) {    
    -webkit-animation-iteration-count: $s;
    animation-iteration-count: $s;    
}

@mixin animation_name($s) {    
    -webkit-animation-name: $s;
    animation-name: $s;
}

@mixin animation_timing_function($s) {    
    -webkit-animation-timing-function: $s;
    animation-timing-function: $s;
}

@mixin box_shadow($s) {    
    -webkit-box-shadow: $s;
    -moz-box-shadow: $s;
    box-shadow: $s;
}

@mixin display_flex {    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin transform($s) {    
    -webkit-transform: $s;
    transform: $s;
}

@mixin transition($s) {
    -webkit-transition: $s;
    transition: $s;
}

/** Style section text headers the same **/
@mixin text_headers {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

/** Style headers **/
@mixin headSizes($sizes) {
    @each $e, $size in $sizes {
        h#{$e} {
            font-size: $size + px !important;
        }
    }
}